<%-include("../../views/pratials/user/header")%>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container">
      
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Shop All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Track Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 404 Section -->
  <main class="text-center py-5" style="background-color: #e8f4fc;">
    <div class="container">
      <h1 class="display-4">404 Not Found</h1>
      <p class="lead">Your visited page was not found. You may go home page.</p>
      <a href="/" class="btn btn-danger">Back to Home Page</a>
    </div>
  </main>
 

  <%-include("../../views/pratials/user/footer")%>